@import url("https://fonts.googleapis.com/css2?family=DynaPuff&display=swap");
*,
*::before,
*::after {
  margin: 0px;
  box-sizing: border-box;
}
body {
  margin: 0px;
  background-color: rgb(36, 36, 36);
}
.background {
  display: hidden;
  position: fixed;
  background-color: black;
  background-image: repeating-conic-gradient(
    from 45deg,
    #111 0deg 90deg,
    #222 90deg 180deg
  );
  background-size: 5em 5em;
  height: 100%;
  width: 100%;
  z-index: -5;
}
header {
  color: white;
  background-color: black;
  display: flex;
  box-shadow: 0px 2px 15px 0px whitesmoke;
  padding: 1.5rem;
  position: sticky;
  top: 0px;
}
header > ul {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  list-style-type: none;
}
header a {
  color: gold;
  text-decoration: none;
  font-family: "dynapuff";
  font-size: 1.4rem;
}
header a:hover {
  color: aqua;
}
header h1 {
  font-size: 2rem;
  font-family: "dynapuff";
}
h2 {
  margin-bottom: 20px;
}
.aim {
  text-align: center;
  border-radius: 10px;
  width: 50%;
  margin: 40px auto;
  background-color: rgb(255, 255, 224);
  padding: 30px;
}

.aim:hover {
  box-shadow: 0px 3px 15px 0px whitesmoke;
}

.log {
  display: flex;
  justify-content: center;
  gap: 10%;
}
.log button {
  display: inline-block;
  font-size: 1.6rem;
  padding: 10px 20px;
  border: none;
  border-radius: 0.3rem;
}
#login {
  background-color: blue;
  color: white;
}
#register {
  background-color: white;
  color: black;
}
#register:hover {
  box-shadow: 0px 2px 15px 0px whitesmoke;
}
#login:hover {
  box-shadow: 0px 2px 15px 0px rgb(94, 94, 255);
}
.aim p {
  font-size: 1.2rem;
  font-family: "Times New Roman", Times, serif;
}
.aim h2 {
  font-size: 2rem;
  font-family: monospace;
}
.top {
  display: grid;
  grid-template-columns: 60% 40%;
}
.right img {
  width: 65%;
  border-radius: 50%;
  box-shadow: 0px 3px 15px 0px orange;
  margin-top: 40px;
}
.cards {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 25% 25% 25%;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.cards > div {
  background-color: rgb(52, 52, 52);
  color: white;
  padding: 20px;
  box-shadow: 0px 2px 15px 0px whitesmoke;
  min-height: 200px;
}
.cards a {
  color: white;
  text-decoration: none;
}
h3 {
  text-align: center;
  margin-bottom: 20px;
}
footer {
  margin-top: 40px;
  background-color: blue;
  color: white;
  text-align: center;
  padding: 5px;
}
footer h3 {
  font-size: 1.4rem;
  color: gold;
  text-align: initial;
  margin-bottom: 10px;
}
footer hr {
  width: 80%;
}
.foot {
  background-color: #222;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px;
  padding: 20px;
  margin: 10px auto;
}
.foot ul {
  padding-left: 10px;
  margin-top: 15px;
}
.foot li {
  text-align: left;
  list-style-type: none;
  line-height: 1.5rem;
  margin: 3px auto;
}
.icon {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 20px auto;
}
footer p {
  font-size: 20px;
}

.foot div i {
  /* display: inline-block; */
  margin-right: 10px;
}
.workhead {
  text-align: center;
  background-color: blue;
  color: white;
  padding: 10px;
  width: max-content;
  margin-left: 20px;
  margin-top: 50px;
}

.right h2 {
  background-color: antiquewhite;
  color: black;
  display: block;
  text-align: center;
  padding: 5px;
  margin: auto auto;
  margin-top: 20px;
  width: fit-content;
  border-radius: 5px;
}
