<footer>
  <div class="foot">
    <div class="1">
      <h3>Users of our product</h3>
      <hr style="width: 80%; margin-left: 0px" />
      <ul>
        <li>Hospitals</li>
        <li>Hotels</li>
        <li>Universities</li>
        <li>Others</li>
      </ul>
    </div>
    <div class="2">
      <h3>connect with us</h3>
      <hr style="width: 80%; margin-left: 0px" />
      <ul>
        <li><i class="fi-xnsuxl-linkedin"></i> LinkedIn</li>
        <li><i class="fi-xnsuxl-instagram"></i> Instagram</li>
        <li><i class="fi-xnsuxl-facebook"></i> Facebook</li>
        <li><i class="fi-xnsuxl-twitter-solid"></i> Twitter</li>
      </ul>
    </div>
    <div class="3"></div>
  </div>
  <p>&copy;Copyright 2022, Bottleneck private limited</p>
</footer>
