<div class="background"></div>
<header>
  <ul>
    <li><h1>BOTtleneck</h1></li>
    <li><a href="/">Home</a></li>
    <li><a href="/guide">Guide</a></li>
    <li><a href="/contact">Contact Us</a></li>
  </ul>
</header>
